.page-404{
    text-align: center;
}
.page-404 img{
    display: block;
    margin: 0 auto;
}

.page-404  h1{
    text-align: center;
    font-size: 38px;
    margin: 5px 0;
}

.page-404  p{
    text-align: center;
}

.page-404 .back-home{
    margin: 20px 0;
    display: inline;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}