<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Elizabeth Taylor 1932-2011 - Timeline</title>
		<meta name="description" content="Template Description">
		<meta name="author" content="Zach Wise">
		
		<!-- Set the viewport for mobile devices -->
		<!-- <meta name="viewport" content="width=device-width,maximum-scale=1.0" /> -->
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- CSS -->
		<link href="timeline.css" rel="stylesheet" type="text/css">
		
		<!-- JavaScript -->
		<script type="text/javascript" src="script/jquery-min.js"></script>
		<!-- <script type="text/javascript" src="jquery.mobile-1.0.min.js"></script> -->
		<script type="text/javascript" src="script/timeline-min.js"></script>
		<script>
			$(document).ready(function() {
				timeline = new VMM.Timeline();
				timeline.init();
			});
		</script>

		<!-- Icons -->
		<link rel="shortcut icon" href="../../gfx/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="../../gfx/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../../gfx/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../../gfx/favicons/apple-touch-icon-114x114.png">
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-537357-18']);
		  _gaq.push(['_setDomainName', 'verite.co']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
			<div id="timeline" style="width:1000px;margin:0 auto;height:700px;">
				
				<section>													<!-- Timeline Start Screen -->
					<time>2013,9,01</time>									<!-- Timeline Begins Date -->
					<h2>创建博客</h2>						<!-- Main Headline -->
					<article>												<!-- Main Text -->
						<p>舞影凌风的博客从此在这安家了^__^</p>
					</article>
					<figure>						
						<img src="images/1.jpg">				<!-- Media, can also be a link to youtube video etc (optional) -->
						<cite></cite>			<!-- Credit for media (optional) -->
						<figcaption>Caption goes here.</figcaption>			<!-- Caption for media (optional) -->
					</figure>
				</section>
				
				<ul>
					
					<!-- Event -->
					<li>
						<time>2013,9,10</time>								<!-- Event Date -->
						<time>2013,9,11</time>								<!-- End of Event (optional) -->
						<h3>Headline Goes Here</h3>							<!-- Headline -->
						<article>											<!-- Main Text -->
							<p>The main text goes here. You can have p tags too.</p>
						</article>
						<figure>						
							<img src="images/2.jpg">			<!-- Media, can also be a link to youtube video etc (optional) -->
							<cite></cite>		<!-- Credit for media (optional) -->
							<figcaption>Caption goes here.</figcaption>		<!-- Caption for media (optional) -->
						</figure>
					</li>
					<!-- / Event -->
                    <!-- Event -->
                    <li>
                        <time>2014,9,15</time>								<!-- Event Date -->
                        <time>2013,9,15</time>								<!-- End of Event (optional) -->
                        <h3>Headline Goes Here</h3>							<!-- Headline -->
                        <article>											<!-- Main Text -->
                            <p>The main text goes here. You can have p tags too.</p>
                        </article>
                        <figure>
                            <img src="images/3.jpg">			<!-- Media, can also be a link to youtube video etc (optional) -->
                            <cite></cite>		<!-- Credit for media (optional) -->
                            <figcaption>Caption goes here.</figcaption>		<!-- Caption for media (optional) -->
                        </figure>
                    </li>
                    <!-- / Event -->
				</ul>
				
				
			</div>
		
		
	</body>
</html>
